.admin-form-container{
    margin: 120px auto 0;
    background-color: purple;
    height: 400px;
    width: 95vw;
    min-width: 340px;
    position: relative;
    form{
        color: white;
        font-weight: bold;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        div{
            display: flex;
            gap:4px;
        }
    }
    .login-fail-message-container{
        position: absolute;
        width: 100%;
        text-align: center;
        right: 0;
        top:5px;
        color: rgb(255, 0, 60);
    }
    label{
        width: 100px;
    }
}