@use "src/variables-and-mixins/screen-width.scss" as *;
.create-book-modal{
    background-color: white;
    height:fit-content;
    width:calc(100% - 10px);
    border: 5px solid black;
    position: relative;
    border-radius: 5px;
    form{
        padding:25px 7px 12px;
        display: flex;
        flex-direction: column;
        gap:6px;
        padding-bottom: 3px;
        width: 100%;
        div{
            display: flex;
            align-items: center;
            width: 100%;
            border-bottom:2px dashed blue;
            padding-bottom: 5px;
        }
    }
    .fail-message-container{
        position: absolute;
        top:2px;
        text-align: center;
        width: 100%;
        color: red;
        h1{
            font-size: 15px;
            margin: 0;
        }
    }
    
    label{
        font-size: 16px;
        width:100px;
    }
    textarea{
        width: 230px;
        height:100px;
        margin: auto;
    }
    input{
        height: 30px;
        width: 230px;
        margin: auto;
    }
    @media (min-width:$w750) {
        align-items: center;
        height: 650px;
        width: 650px;   
    }
    .all-screen{
        font-size: 35px;
        width: calc(100vw - 30px);
        height: 100vh;
        position: fixed;
        top: 0;
        margin: 0;
        @media (min-width:$w510) {
            right: 30px;
            width: calc(100vw - 50px);    
        }
    }
    .submit-button{
        font-size: 20px;
    }
}
