.close-modal-btn{
    position: absolute;
    cursor: pointer;
    top:0;
    right: 0;
    background-color: transparent;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 0;
    z-index: 1;
}