@use "src/variables-and-mixins/screen-width.scss" as *;
.login-modal{
    background-color: white;
    width: 300px;
    height: fit-content;
    max-height: 477px;
    border: 5px solid black;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding:30px 12px 7px 12px;
    overflow: auto;
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }
    @media (min-width:$w750) and (min-height:400px) { 
        width: 400px;
    }
    .submit-button{
      margin:5px 64px 5px 0;

    }
    h3{
        margin:0 50px 10px 0;
    }
}
.login-form,.sign-up-form{
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}
.toggle-modal-btn{
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    margin-right: 64px;
}
.real-height{
    height: 282px; 
    @media (min-width:$w750) and (min-height:400px) {
        height: 372px; 
    }
}
.fail-reason-container{
    text-align: center;
    width: 95%;
    position: absolute;
    color: red;
    top:25px;
    h2{
        margin: 0;
        font-size: 18px;
        @media (min-width:$w750) and (min-height:400px) {
            font-size: 25px;
        }
    }
}
.modal-input2{
    display: flex;
    font-size: 13px;
    width: fit-content;
    @media (min-width:$w750) and (min-height:400px) {
        font-size: 20px;
        align-items: center;
    }
    label{
        width: 70px;
        @media (min-width:$w750) and (min-height:400px) {
            width: 100px;
        }
    }
    input{
        height: 20px;
        &::placeholder{
            color: red;
            font-size: 8px;
            @media (min-width:$w750) and (min-height:400px) {
                font-size: 16px;
            }
        }
        @media (min-width:$w750) and (min-height:400px) {
            height: 30px;
            width: 250px;
        }
    }
}
