@use "src/variables-and-mixins/screen-width.scss" as *;
header{
    box-shadow: 0 20px 20px rgba(0,0,0,.2);
    background-color: #faf9f5;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    height: 95px;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding:15px;
    @media (min-width:$w510) {
        padding: 15px 25px;
    }
    .logo{
        position: relative;
        box-shadow: 1px 1px 13px rgba(0,0,0,.3) ;
        height: 85px;
        img{
            height: 100%;   
            width: 90px;
            @media (min-width:$w510) {
                width: 168px; 
            }
         
        }
    }
}
.hi-username{
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    @media (min-width:$w510) {
        font-size: 18px;
        
    }
}
.login-button{
    position: relative;
    &:hover{
        .login-select{
            display: flex;
        }
    }
}
.login-select{
    background-color: white;
    border-radius: 10px;
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: fit-content;
    padding: 5px;
    position: absolute;
    gap:10px;
    top:66px;
    left: 5px;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.4); ;
    div{
        padding: 5px;
        border-radius: 20px;
        color: white;
        font-weight: 800;
        font-size: 17px;
        background-color: red;
        width: 88px;
        &:hover{
            background-color: green;
        }
    }
}
.header-left-buttons-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 50px;
        height: 50px;
        &:hover{
            color: brown;
        }
        @media (min-width:$w510) {
            width: 70px;
            height: 70px;
        }
    }
    .not-icon-btn{
        font-weight: 800;
        background-color: greenyellow;
        outline: 4px ridge red;
        line-height:0.95;
        height: fit-content;
        padding: 2px;
        width:min-content;
        margin-right: 10px;
        font-size: 12px;
        @media (min-width:$w510) {
            font-size: 18px;
        }
    }
}