@use "src/variables-and-mixins/screen-width.scss" as *;
header{
    box-shadow: 0 20px 20px rgba(0,0,0,.2);
    background-color: #faf9f5;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    height: 168px;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding:15px 4px;
    @media (min-width:$w510) {
        padding: 15px 25px;
    }
    .logo{
        position: relative;
        box-shadow: 1px 1px 13px rgba(0,0,0,.3) ;
        border-radius: 15px;
        img{
            width: 188px; 
            height: 135px;   
            @media (min-width:$w510) {
                width: 300px;
            }
        }
        .title{
            position: absolute;
            bottom:7px;
            right: 3px;
            color:rgb(55, 182, 210);
            font-weight: bold;
            font-size: 8px;
            @media (min-width:$w510) {
                font-size: 13px; 
            }
        }
    }
}
.hi-username{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
.header-left-buttons-container{
    display: flex;
    flex-wrap: wrap;
    .left-search-books-btn{
        @media (min-width:$w1100) {
            display: none;
        }
    }
    button{
        cursor: pointer;
        width: 70px;
        height: 70px;
        border: none;
        background-color: transparent;
    }
    .not-icon-btn{
        font-weight: 800;
        font-size: 18px;
        background-color: greenyellow;
        outline: 4px ridge red;
        line-height:0.95;
        padding: 2px;
        width:min-content;
        margin-right: 10px;
    }
}