@use "src/variables-and-mixins/screen-width.scss" as *;
.big-cart{
    margin: 110px auto 0;
    text-align: start;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    div{
        display: flex;
        align-items: center;
        gap:20px;
        font-size: 25px;
        font-weight: 600;
    }
    img{
        width:40px;
        height: 30px;
    }
    .books-amount{
        top: 0;
        right:35px;
        width: 30px;
    }
}
.big-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
   
}
.buy-books-books-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding:60px 20px;
}