@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap';
*{
    direction: rtl;
    box-sizing: border-box;
    font-family: "Open Sans";
}
.confetti-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:170px;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    color: red;
    font-size: 100px;
    font-weight: 900;
}
.english{
    direction: ltr;
}
input{
    &::placeholder{
        color: red;
    }
}
.submit-button{
    margin:5px auto 5px;
    background-color: greenyellow;
    border: 2px solid rgb(216, 113, 113);
    font-size: 15px;
    cursor: pointer;
}
.create-discount-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}
.home-link{
    display: block;
    margin: auto;
}
.none{
    display: none;
}
.books-amount{
    background-color: rgba(255, 115, 0, 0.822);
    border-radius: 50%;
    width: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 30px;
    top:10px;
    right:10px;
    @media (min-width:510px) {
        right: 14px;
    }
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.relative{
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}