.book{
    box-shadow: 0px 20px 80px rgba(0,0,0,.4);
    width:150px;
    height: 300px;
    position: relative;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    cursor: pointer;
    transition: transform 0.5s ease;
    img{
        width: 100%;
        height:100%;
    }
    .label{
        background-color: gold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        user-select: none;
        //line-height: 0.9;
    }
    &:hover{
        transform: scale(1.15);
        z-index: 1;
        .book-buttons-container{
            height:15%;
        }
    }
    .unavailable-img{
        position: absolute;
        top:120px;
        right: 32px;
        width: 55%;
        height: 20%;
    }
}
.book-buttons-container{
    background-color: rgba(0, 0, 0, 0.97);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    height: 0;
    width: 100%;
    transition: all 0.35s linear;
    position: absolute;
    top:17%;
    button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        &:hover{
            transform: scale(1.2);
        }
    }
    .not-icon-btn{
        background-color: greenyellow;
        outline: 1.5px solid red;
        font-weight: bold;
        width: min-content;
        line-height: 0.95;
        font-size: 11px;
        padding: 2px;
    }
}