.nav-and-books-and-pages-container{
    margin: auto;
    margin: 230px auto 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.books-nav{
    width:fit-content;
    height: fit-content;
    margin:0 auto 0px;
    border: 2px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
    .select-container{
        display: flex;
        align-items: center;
        gap:10px;
        div{
            width: 80px;
        }
    }
    select{
        font-size: 20px;
        width: 190px;
        padding: 7px;
        border-radius: 20px;
        font-weight: bold;
        margin-top: 15px;
        option{
            font-size: 20px; 
        }
    }
}
.books-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}
.pages{
    text-align: center;
    direction: ltr;
    margin-bottom: 30px;
}
